DCOM Video Assignment

python3/coursera/Course5/assignments/ass4_01/content.sqlite
python3/coursera/Course5/assignments/ass4_01/index.sqlite

python3/coursera/Course5/assignments/ass6_01/content.sqlite
python3/coursera/Course5/assignments/ass6_01/index.sqlite

#Mobile_Development/Android
#Mobile_Development/Android/Downloaded
**/.gradle
**/.settings/
**/.project
Mobile_Development/Android/Udemy/Resources/Course_extras

#to ignore dependencies from everywhere
**/node_modules
**/.idea
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
**/.vscode